@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jockey+One&family=Jomhuria&display=swap');

*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #FAE4AB;
}
/*body*/

/*nAv*/
.top{
    background-color: #D59D4A;
    position: fixed;
    width: 100vw;
    height: 8vh;
}
.top div{
    float:left;
    padding-left: 5px;
}
#title{
    color:white;
    display: inline-block;
    font-size: xx-large;
    padding-left: 5px;
    padding-right:5px;
    letter-spacing: 3px;
}
.top #link{
    float:right;
}
#link #olink{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right:5px;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#img{
    padding-top: 5px;
}
#img img{
    border-radius: 5px ;
    width:10px;
}
.bot{
    position: fixed;
    background-color: #B28543;
    bottom:0%;
    width:100vw;
    height: 5vh;
    color:rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:xx-small;
}
.bot p{
    padding:5px;
    display: inline-block;
}
.bot .socmed{ 
    display: inline-block;
    float:right;
    padding: 5px;

}
.bot .socmed img{
    width:3vh;
    border-radius: 5px; /*gives round edges to the images*/
}
/*index*/
#midback{
    background-image:url('image/baner.jpg');
    height: 50vh;
}
#midback div{
    background-color: #EDC283;
    width:fit-content;
    position:relative;
    text-align: center;
    top:44%;
    left:9%;
}
#proceed div{
    text-align: center;
    padding-right:2vw;
    padding-left:1vw;
    padding-top:1vw;
    padding-bottom: 1vw;
}
#proceed{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
#content{
    padding-top:5px;
    position:relative;
    text-align: justify;
    top:44%;
    left:9%;
    width:70vw;
}
#content h1{
    padding:5px;
}
#content p{
    padding-left:5px;
    font-size:small;
}

/*dir*/
#head{
    padding-left:20vw;
    padding-top: 10vh;

}
#hc{
    width:70vw;
}
#head h1{
    display:inline;
}
#buttons{
    right:0%;
    display: inline-block;
    float:right;
}
#buttons #gb{
    display: inline-block;
    text-decoration: none;
    color:black;
}
#gb div{
    background-color: #EDC283;
    padding:5px;
}
#buttons #pr{
    display: inline-block;
    text-decoration: none;
    color:black;
}
#pr div{
    background-color: #EDC283;
    padding:5px;
}
/*study background*/

.mid #body{
    text-align:justify;
    padding-left: 20vw;
    padding-top:8vh;
}
#body p{
    width:60vw;
}
.mid #scontent{
    padding-left: 20vw;
    padding-top:1vw;
}
#scontent #cc{
    width:60vw;

}
#cc #ff{
    display: inline-block;
    background-color: #EDC283;
    width: 23vw;
    float:right;
}
#ff p{
    padding-left: 3px;
    font-size: small
}
#ff h3{
    padding-left: 3px;
}
#cc img{
    width:35vw;
}
/*main*/
.button{
    font-family: 'Jomhuria', serif;
    color:#B28543;
    border:none;
    background-color: black;
}
#quant{
    color:red;
    display: none;
}
.button:focus #quant{
    display: block;
}
.button:focus{
    background-color: rgb(255, 255, 255);
}
.button:target  #quant{
    display: block;
}
.button:hover{
    color:#D59D4A;
}

/*reference*/
#refe{
    padding-left: 20vw;
    padding-top:1vw;   
}
#refe #rc{
    width:65vw;
    background-color: #EDC283;
}
#rc li{
    text-align: justify;
    font-size: small;
    padding: 10px;
    width: 30vw;
}
#rc p{
    font-size: small;
    letter-spacing: 5px;
    width: 60vw;
}
/*fonts*/
.jomhuria{
    font-family: 'Jomhuria', serif;
}
.roboto{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.jockeyone{
    font-family: 'Jockey One', sans-serif;
}
.itim{
    font-family: 'Itim', cursive;
}